.env
output_videos/
demo_videos/
screen_recordings/
output_images/
tmp/
node_modules/
remotion-template/node_modules/
hyperframes-template/node_modules/
remotion-template/out/
hyperframes-template/out/
*.mp4
*.mov
*.mp3
*.wav
*.ass
*.srt
__pycache__/
*.pyc
.DS_Store
